@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
/*页面信息*/
body{
	font-size: 13px;
	font-family: "微软雅黑";
    color: #444;
    letter-spacing: 1px;
}
a {
	text-decoration: none;
    color: #444;
}
a:hover {
	color: #33a6b5;
}
img{
	border:0 none;
	vertical-align: middle;
}
ol, ul {
	list-style: none outside none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
input{
    outline: none;
    border: none;
}
textarea{
    resize: none;
    outline: none;
}
.clear{
	clear: both;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	display: block;
}























.hide{
    display: none;
}
.address_detail{
    width: 510px;
    height: 380px;
    float: right;
}
.address_title{
    height: 40px;
    width: 510px;
    line-height: 30px;
    font-size: 16px;
}
.tab_menu li {
    width: 100px;
    float: left;
    height: 40px;
    line-height: 40px;
    color: #33A6B5;
    background: #dfdfdf;
    text-align: center;
    cursor: pointer;
}
.tab_menu li.current{
    color:#fff;
    background: #33A6B5;
}























































